body {
    background-color: rgba(196, 196, 196, 0.9);
}

/* Header styles */
.header {
    background-color: rgba(161, 160, 160, 0.3);
    color: white;
    padding: 10px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    z-index: 999; /* Ensure header is on top of other elements */
}

/* Container styles */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 120px; /* Ensure content is below the header */
}

/* Left column styles */
.left-column {
    background-color: rgba(196, 196, 196, 0.3);
    width: 200px;
    height: 800px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 120px; /* Ensure it starts below the header */
    left: 0; /* Position at the left */
}

/* Total list styles */
.totals {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Individual total item styles */
.totals li {
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

/* Images container styles */
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 200px auto;
    max-width: 959px;
}

.images-container img {
    width: 150px;
    height: auto;
    margin: 10px; /* Adjust spacing between images */
}

/* Footer styles */
footer {
    background-color: rgba(196, 196, 196, 0.3);
    color: white;
    padding: 10px;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position at the left */
}
